
<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <title>Niwax - Web Design &amp; Digital Marketing Agency HTML Template</title>
    <meta name="description" content="Creative Agency, Marketing Agency Template">
    <meta name="keywords" content="Creative Agency, Marketing Agency">
    <meta name="author" content="rajesh-doot">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="theme-color" content="#2e2a8f">
    <!--website-favicon-->
    <link href="~/Content\images\favicon.png" rel="icon">
    <!--plugin-css-->
    <link href="~/Content\css\bootstrap.min.css" rel="stylesheet">
    <link href="~/Content\css\plugin.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <!-- template-style-->
    <link href="~/Content\css\style.css" rel="stylesheet">
    <link href="~/Content\css\responsive.css" rel="stylesheet">
</head>
<body>
    <!--Start Preloader -->
    <div class="onloadpage" id="page_loader">
        <div class="pre-content">
            <div class="logo-pre"><img src="~/Content\images\logo.png" alt="Logo" class="img-fluid"></div>
            <div class="pre-text-"><span>Niwax - Creative Agency & Portfolio HTML Template Are 2 Seconds Away.</span>Have Patience</div>
        </div>
    </div>
    <!--End Preloader -->
    <section class="breadcrumb-area banner-5">
        <div class="text-block">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 v-center">
                        <div class="bread-inner">
                            <div class="bread-title">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    @Html.Partial("FlashMessage")

    @RenderBody()

    <!-- js placed at the end of the document so the pages load faster -->
    <script src="~/Content\js\vendor\modernizr-3.5.0.min.js"></script>
    <script src="~/Content\js\jquery.min.js"></script>
    <script src="~/Content\js\bootstrap.bundle.min.js"></script>
    <script src="~/Content\js\plugin.min.js"></script>
    <script src="~/Content\js\preloader.js"></script>
    <!--common script file-->
    <script src="~/Content\js\main.js"></script>
</body>
</html>